<!-- string interpolation -->
<h1>{{title}}</h1>
<!-- <div>
     event binding 
    <input type="text" class="form-control" (input)="onUpdate($event)">
</div> -->
<div>
    <!--two way binding -->
    <input type="text" class="form-control" [(ngModel)]="text">
</div>
<div> {{text}} </div>
<!--Property binding -->
<!--Directives -- Structural Directives -- ngStyle-->
<button [disabled]="!allow" [ngStyle]="{backgroundColor:color,color:textcolor}" (click)="onBtnClick()">Add</button>
<!--Directives -- Structural Directives -- ngIf -->
<p *ngIf="ontextchange;">Added</p>
<!--Directives -- Structural Directives -- ngIf-else -->
<p *ngIf="ontextchange; else noadd">Added</p>
<ng-template #noadd>
    <p>Not yet added</p>
</ng-template>
<!-- OR -->
<p *ngIf="!ontextchange;">Not yet added</p>