<!-- Data binding a) string interpolation -->
<h1>{{title}}</h1>
<!-- <div>
    Data binding c)  event binding 
    <input type="text" class="form-control" (input)="onUpdate($event)">
</div> -->
<div>
    <!--Data binding d) two way binding -->
    <input type="text" class="form-control" [(ngModel)]="text">
</div>
<!--Directives -- Structural Directives -- ngFor -->
<div *ngFor="let text of texts"> {{text}} </div>
<!-- Data binding b) Property binding -->
<!--Directives -- Property/attribute Directives -- ngStyle-->
<!--Directives -- Property/attribute Directives -- ngClass-->
<button [disabled]="!allow" [ngClass]="{enable: allow == true}" [ngStyle]="{backgroundColor:color}"
    (click)="onBtnClick()">Add</button>
<!--Directives -- Structural Directives -- ngIf -->
<p *ngIf="ontextchange;">Added</p>
<!--Directives -- Structural Directives -- ngIf-else -->
<p *ngIf="ontextchange; else noadd">Added</p>
<ng-template #noadd>
    <p>Not yet added</p>
</ng-template>
<!-- OR -->
<p *ngIf="!ontextchange;">Not yet added</p>